<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_avalia"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_avalia"
        android:supportsRtl="true"
        android:theme="@style/Theme.Avalia"
        tools:targetApi="31">

        <activity
            android:name=".prova.TelaResultadoProva"
            android:exported="false" />
        <activity
            android:name=".prova.SelecionarProva"
            android:exported="false" />
        <activity
            android:name=".prova.TelaProva"
            android:exported="false" />
        <activity
            android:name=".ranking.TelaRanking"
            android:exported="false" />
        <activity
            android:name=".chatbot.ChatBot"
            android:exported="false" />
        <activity
            android:name=".missoes.TelaMissoes"
            android:exported="false" />
        <activity
            android:name=".principal.TelaHome"
            android:exported="false" />
        <activity
            android:name=".usuario.TelaEsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".usuario.TelaCadastro"
            android:exported="false" />
        <activity
            android:name=".usuario.TelaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>